<md-content layout="column" flex>
  <md-toolbar layout="row" md-scroll-shrink>
    <div class="md-toolbar-tools">
      <md-button ng-click="toggleSidenav('left')" hide-gt-sm class="md-icon-button">
        <md-icon aria-label="Menu" class="md-toggle-icon fa fa-bars"></md-icon>
      </md-button>
      <h3>
        <span>Cadastros - Inserto</span>
      </h3>
    </div>
  </md-toolbar>

  <md-content class="md-padding" layout="column" flex >
    <h2 class="md-title">Novo Inserto</h2>
    <form name="insertoForm" ng-submit="salvar()">
      
      <md-input-container class="md-block" flex-gt-sm>
	      <label>Descrição do Inserto</label>
	      <input name="descricao" ng-model="inserto.descricao"
	             required minlength="6" maxlength="100"/>
	    </md-input-container>

      <md-dialog-content>
        <div class="md-dialog-content">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Valor do Raio</label>
            <input name="raio" ng-model="inserto.raio"
                   required type="number" step="0.01"/>
          </md-input-container>
        </div>
      </md-dialog-content>

      <md-chips ng-model="fabricsSelected" md-autocomplete-snap
                md-transform-chip="transformChip($chip)"
                md-require-match="autocompleteDemoRequireMatch">


        <md-autocomplete
            md-selected-item="selectedItem"
            md-search-text="searchText"
            md-items="item in querySearch(searchText)"
            md-item-text="item.descricao"
            placeholder="Procure por um fabricante">
          <span md-highlight-text="searchText">{{item.descricao}}</span>
        </md-autocomplete>


        <md-chip-template>
          <strong>{{$chip.descricao}}</strong>
        </md-chip-template>
      </md-chips>

      <h2 class="md-title">Opção de Fabricantes</h2>
      <md-list class="blocoChips">
        <md-list-item class="md-2-line veggie-option" ng-repeat="fab in fabrics" layout="row"
            layout-wrap>
          <div class="md-item-text md-whiteframe-z1" flex>
            <h3>{{fab.descricao}}</h3>
          </div>
        </md-list-item>
      </md-list>



      <div class="menuDiv">
        <ul class="menuLogout">
          <li>
            <md-button class="md-raised md-warn" ng-click="cancel()">
             Cancelar
            </md-button>
          </li>
          <li>
            <md-button class="md-raised md-primary" type="submit" style="margin-right:20px;">
              Salvar
            </md-button>
          </li>
        </ul>
      </div>
    </form>
  </md-content>
</md-content>