<md-content layout="column" flex>
  <md-toolbar layout="row" md-scroll-shrink>
    <div class="md-toolbar-tools">
      <md-button ng-click="toggleSidenav('left')" hide-gt-sm class="md-icon-button">
        <md-icon aria-label="Menu" class="md-toggle-icon fa fa-bars"></md-icon>
      </md-button>
      <h3>
        <span>Cadastros - Maquina</span>
      </h3>
    </div>
  </md-toolbar>

  <md-content class="md-padding" layout="column" flex >
    <h2 class="md-title">Nova Maquina</h2>
    <form name="modeloForm" ng-submit="salvar()">
      
      <md-input-container class="md-block" flex-gt-sm>
	      <label>Descrição da Maquina</label>
	      <input name="descricao" ng-model="modelo.descricao"
	             required minlength="6" maxlength="100"/>
	    </md-input-container>

      <div class="menuDiv">
        <ul class="menuLogout">
          <li>
            <md-button class="md-raised md-warn" ng-click="cancel()">
             Cancelar
            </md-button>
          </li>
          <li>
            <md-button class="md-raised md-primary" type="submit" style="margin-right:20px;">
              Salvar
            </md-button>
          </li>
        </ul>
      </div>
    </form>
  </md-content>
</md-content>