<md-content layout="column" flex>
  <md-toolbar layout="row" md-scroll-shrink>
    <div class="md-toolbar-tools theme-blue-toolbar">
      <md-button ng-click="toggleSidenav('left')" hide-gt-sm class="md-icon-button">
        <md-icon class="material-icons">menu</md-icon>
      </md-button>
      <h3>
        <span>Cadastros - Desenho</span>
      </h3>
    </div>
  </md-toolbar>

  <md-content class="md-padding" layout="column" flex >
    <h2 class="md-title">Novo Desenho</h2>
    <form name="desenhoForm" ng-submit="salvar()" >
      <!-- ng-submit="salvar()" -->
      <!--input name="authenticity_token" type="hidden" value="some_long_random_string" /-->
      <md-input-container class="md-block" flex-gt-sm>
	      <label>Código do Desenho</label>
	      <input name="codigo" ng-model="desenho.codigo" model-view-value="true" ui-mask="999.999.999" ng-pattern="/^[0-9]{3}.[0-9]{3}.[0-9]{3}$/" required/>
        <div class="hint">###.###.###</div>
	    </md-input-container>

      <md-input-container class="md-block" flex-gt-sm>
        <label>Título do Desenho</label>
        <input name="titulo" ng-model="desenho.titulo"
               required minlength="2" maxlength="100"/>
      </md-input-container>

      <div layout-gt-xs="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Maquina</label>
          <md-select ng-model="desenho.modelo">
            <md-option ng-repeat="mod in modelos" value="{{mod.id}}">
              {{mod.descricao}}
            </md-option>
          </md-select>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
          <label>Grupo de Maquina</label>
          <md-select ng-model="desenho.grupomodelo">
            <md-option ng-repeat="gru in grupomodelos" value="{{gru.id}}">
              {{gru.descricao}}
            </md-option>
          </md-select>
        </md-input-container>

      </div>

      <div layout-gt-xs="row">
        <!--input type="file" nv-file-select uploader="uploader"/>
        <ul>
          <li ng-repeat="item in uploader.queue">
            Name: <span ng-bind="item.file.name"></span><br/>
            <button ng-click="item.upload()">upload</button>
          </li>
        </ul-->
        <input id="file-input" type="file" ngf-select="upload($file)" ng-model="image" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB" ngf-min-height="100">
      </div>

      <div class="menuDiv">
        <ul class="menuLogout">
          <li>
            <md-button class="md-raised md-warn" ng-click="cancel()">
             Cancelar
            </md-button>
          </li>
          <li>
            <md-button class="md-raised md-primary" type="submit" style="margin-right:20px;">
              Salvar
            </md-button>
          </li>
        </ul>
      </div>
    </form>
  </md-content>
</md-content>