<md-content layout="column" flex>
  <md-toolbar layout="row" md-scroll-shrink>
    <div class="md-toolbar-tools theme-blue-toolbar">
      <md-button ng-click="toggleSidenav('left')" hide-gt-sm class="md-icon-button">
        <md-icon class="material-icons">menu</md-icon>
      </md-button>
      <h3>
        <span>Cadastros - Desenho</span>
      </h3>
    </div>
  </md-toolbar>

  <md-content class="md-padding" layout="column" flex >
    <h2 class="md-title">Código: {{ desenho.codigo }}</h2>

    <h2 class="md-title">Título: {{ desenho.titulo }}</h2>
    
    <div layout-gt-xs="row">
      <h4 class="descricao">Maquina: {{ desenho.modelo.descricao }}</h4>
      <h4 class="descricao">Grupo Maquina: {{ desenho.grupomodelo.descricao }}</h4>
      
    </div>
    <div layout-gt-xs="row">
      <img ng-src="{{ desenho.picture.url }}" style="width: 300px; height: 200px">
    </div>

    <ul class="menuLogout">
      <li>
        <md-button class="md-raised md-warn" ng-click="voltar()">
         Voltar
        </md-button>
      </li>
    </ul>
    
  </md-content>
</md-content>