<md-content layout="column" flex>
  <md-toolbar layout="row" md-scroll-shrink>
    <div class="md-toolbar-tools">
      <md-button ng-click="toggleSidenav('left')" hide-gt-sm class="md-icon-button">
        <md-icon aria-label="Menu" class="md-toggle-icon fa fa-bars"></md-icon>
      </md-button>
      <h3>
        <span>Cadastros - Suporte</span>
      </h3>
    </div>
  </md-toolbar>

  <md-content class="md-padding" layout="column" flex >
    <h2 class="md-title">{{ suporte.descricao }}</h2>
    
    <h2 class="md-title">Operação: {{ suporte.operacao.descricao }}</h2>
  
    <md-chips ng-repeat="sup in suporte.suporte_insertos">
      <md-chip >{{sup.inserto.descricao}}</md-chip>
    </md-chips>
    <ul class="menuLogout">
      <li>
        <md-button class="md-raised md-warn" ng-click="voltar()">
         Voltar
        </md-button>
      </li>
    </ul>
    
  </md-content>
</md-content>