<md-content layout="column" flex>
    <md-toolbar class="md-table-toolbar md-default"  layout="row" scroll>

      <div class="md-toolbar-tools android-navigation" >
        <h3 ng-click"homePage()">
          <span class="logo-folha">Folha de Processos</span>
        </h3>
        <div flex="" class="flex"></div>
        <md-button class="mdl-navigation__link">
          <md-icon class="material-icons">mail_outline</md-icon>
          <span>Contato</span>
        </md-button>
        <md-button class="mdl-navigation__link">
          <md-icon class="material-icons">business</md-icon>
          <span>Sobre Nós</span>
        </md-button>
        <md-button class="mdl-navigation__link" ng-click="cadastre($event)">
          <md-icon class="material-icons">lock</md-icon>
          Cadastre-se
        </md-button>
        <md-button class="mdl-navigation__link" ng-click="login($event)">
          <md-icon class="material-icons">lock</md-icon>
          Acesso ao Sistema
        </md-button>
      </div>
    </md-toolbar>



    <div class="content-wrap">
      <header class="hero-area" id="home">
        
        <div class="container">
             
          <div class="contents text-right">
            <h1 class="wow fadeInRight">Folha de Processo - Lorem ipsum dolor sit amet</h1>
            <p class="wow fadeInRight">Lorem ipsum dolor sit amet, habitasse interdum, vitae magna phasellus sit, pede amet cras, mauris nonummy ultrices.</p>
            <a href="#why" class="btn btn-lg btn-primary wow fadeInUp">Download</a>
            <a href="#features" class="btn btn-lg btn-border wow fadeInUp">Learn More</a>
          </div>  
        </div>  
      </header>
      <section id="features" class="section">
        <div class="container">
          <div class="section-header">
            <h1 class="section-title wow fadeInRight">App Features</h1>
            <h2 class="section-subtitle wow fadeInRight">Who seeks after it and wants to have it</h2>
          </div>
          <div class="row">

            <div class="col-md-4 col-sm-6 wow fadeInDown">
              <div class="features">
                <div class="icon">
                  <i class="mdi-action-settings"></i>
                </div>
                <div class="features-text">
                  <h4>Built-with Bootstrap 3.5.x</h4>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.
                  </p>
                </div>
               </div>
            </div>


            <div class="col-md-4 col-sm-6 wow fadeInDown">
              <div class="features">
                <div class="icon">
                  <i class="mdi-action-done-all"></i>
                </div>
                <div class="features-text">
                  <h4>Material Design</h4>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-md-4 col-sm-6 wow fadeInDown">
              <div class="features">
                <div class="icon">
                  <i class="mdi-image-blur-linear"></i>
                </div>
                <div class="features-text">
                  <h4>Clean and Refreshing</h4>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.
                  </p>
                </div>
              </div>
            </div>            


            <div class="col-md-4 col-sm-6 wow fadeInDown">
              <div class="features">
                <div class="icon">
                  <i class="mdi-communication-business"></i>
                </div>
                <div class="features-text">
                  <h4>Ready for Business or App</h4>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.
                  </p>
                </div>
              </div>
            </div>


            <div class="col-md-4 col-sm-6 wow fadeInDown">
              <div class="features">
                <div class="icon">
                  <i class="mdi-action-favorite"></i>
                </div>
                <div class="features-text">
                  <h4>Crafted with Love</h4>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-md-4 col-sm-6 wow fadeInDown">
              <div class="features">
                <div class="icon">
                  <i class="mdi-hardware-phonelink"></i>
                </div>
                <div class="features-text">
                  <h4>Fully Responsive Layout</h4>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.
                  </p>
                </div>
              </div>
            </div>   
          </div>
        </div>
      </section>

      
      <section id="counter" class="section">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInLeft">
              <div class="counter-item">
                <div class="icon">
                  <i class="mdi-action-get-app"></i>
                </div>
                <h3 class="timer">39000</h3>
                <hr>
                <h5>
                  Free Downloads
                </h5>          
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInLeft">
              <div class="counter-item">
                <div class="icon">
                  <i class="mdi-action-face-unlock"></i>
                </div>
                <h3 class="timer">1046</h3>
                <hr>
                <h5>
                  Premium Users
                </h5>          
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInRight">
              <div class="counter-item">
                <div class="icon">
                  <i class="mdi-action-grade"></i>
                </div>
                <h3 class="timer">6345</h3>
                <hr>
                <h5>
                  Five Start Reviews
                </h5>          
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInRight">
              <div class="counter-item">
                <div class="icon">
                  <i class="mdi-action-trending-up"></i>
                </div>
                <h3 class="timer">18325</h3>
                <hr>
                <h5>
                  Active Installs
                </h5>          
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="clients" class="section">
        <div class="container">
          
          <div class="section-header text-center">
            <h1 class="section-title wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">Featured on</h1>
            <h2 class="section-subtitle wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">Material UI Bootstrap APP and Business Template</h2>
          </div>
          <div class="row">
            <div class="col-md-3 col-sm-3 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
              <div class="client-item-wrapper">
                <img src="/assets/clients/img1.png" alt="">
              </div>
            </div>
            <div class="col-md-3 col-sm-3 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms">
              <div class="client-item-wrapper">
                <img src="/assets/clients/img2.png" alt="">
              </div>
            </div>
            <div class="col-md-3 col-sm-3 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="700ms">
              <div class="client-item-wrapper">
                <img src="/assets/clients/img3.png" alt="">
              </div>
            </div>
            <div class="col-md-3 col-sm-3 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="900ms">
              <div class="client-item-wrapper">
                <img src="/assets/clients/img4.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="contact">
        <div class="container">
          <div class="row">
            <div class="col-md-6 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="300ms">
              <h2 class="section-title">That's Where We Are</h2>
              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <div class="info">
                    <div class="icon">
                      <i class="mdi-maps-map"></i>
                    </div>
                    <h4>Location</h4>
                    <p>NSW, Sydney, Australia</p>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="info">
                    <div class="icon">
                      <i class="mdi-content-mail"></i>
                    </div>
                    <h4>Email</h4>
                    <p>office@graygrids.com</p>
                  </div>
                </div>
                <div class="clear"></div>
                <div class="col-md-6 col-sm-6">
                  <div class="info">
                    <div class="icon">
                      <i class="mdi-action-settings-phone"></i>
                    </div>
                    <h4>Phone Number</h4>
                    <p>0753 016 572</p>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="info">
                    <div class="icon">
                      <i class="mdi-action-thumb-up"></i>
                    </div>
                    <h4>Social Media</h4>
                    <p>@GrayGrids</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="300ms">
              <h2 class="section-title">Love to Hear From You</h2>

              <div class="text-center">
                  <h3><a href="https://graygrids.com/item/pluto-material-design-free-bootstrap-template/">You are Using Free Version, Purchase Full Version to Get All Elements/Pages</a></h3>
                  <a href="https://graygrids.com/item/pluto-material-design-free-bootstrap-template/" class="btn btn-larg btn-primary">Purchase Now</a>
              </div>


            </div>
          </div>
        </div>
      </section>   
      
      <section id="footer">
        <div class="container">
          <div class="container">
            <div class="row">
              <div class="col-md-3 col-sm-6 col-xs-12">
                <h3>Products</h3>
                <ul>
                  <li><a href="http://wingthemes.com/">WingThemes</a>
                  </li>
                  <li><a href="http://graygrids.com/">Graygrids</a>
                  </li>
                  <li><a href="http://wpbean.com/">WPBean</a>
                  </li>
                  <li><a href="http://landingbow.com/">Landingbow</a>
                  </li>
                  <li><a href="http://freebiescircle.com/">FreebiesCicle</a>
                  </li>               
                </ul>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <h3>FAQs</h3>
                <ul>
                  <li><a href="#">Why choose us?</a>
                  </li>
                  <li><a href="#">Where we are?</a>
                  </li>
                  <li><a href="#">Fees</a>
                  </li>
                  <li><a href="#">Guarantee</a>
                  </li>
                  <li><a href="#">Discount</a>
                  </li>
                </ul>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <h3>About</h3>
                <ul>
                  <li><a href="#">Career</a>
                  </li>
                  <li><a href="#">Partners</a>
                  </li>
                  <li><a href="#">Team</a>
                  </li>
                  <li><a href="#">Clients</a>
                  </li>
                  <li><a href="#">Contact</a>
                  </li>
                </ul>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <h3>Find us on</h3>
                <a class="social" href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                <a class="social" href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                <a class="social" href="#" target="_blank"><i class="fa fa-google-plus"></i></a>
              </div>
            </div>
          </div>  
        </div>    
        <a href="#home" class="btn btn-primary back-to-top">
        <i class=" mdi-hardware-keyboard-arrow-up"></i>
        </a>
      </section> 

      <section id="copyright">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <p class="copyright-text">
               © Pluto 2015 All right reserved. Designed and Developed by 
                <a href="http://graygrids.com/">
                  GrayGrids
                </a>
              </p>
            </div>
          </div>
        </div>
      </section>
</md-content>