<md-content layout="column" flex>
    <md-toolbar class="md-table-toolbar md-default"  layout="row" scroll>

      <div class="md-toolbar-tools android-navigation" >
        <h3 ng-click"homePage()">
          <span class="logo-folha">TorneAgil</span>
        </h3>
        <div flex="" class="flex"></div>
        <md-button class="mdl-navigation__link">
          <!--md-icon class="material-icons">mail_outline</md-icon-->
          <span>Contato</span>
        </md-button>
        <md-button class="mdl-navigation__link">
          <!--md-icon class="material-icons">business</md-icon-->
          <span>Sobre Nós</span>
        </md-button>
        <md-button class="mdl-navigation__link" ng-click="cadastre($event)">
          <!--md-icon class="material-icons">lock</md-icon-->
          Cadastre-se
        </md-button>
        <md-button class="mdl-navigation__link" ng-click="login($event)">
          <!--md-icon class="material-icons">lock</md-icon-->
          Acesso ao Sistema
        </md-button>
      </div>
    </md-toolbar>



    <div class="content-wrap">
      <header class="hero-area" id="home">
        
        <div class="container">
             
          <div class="contents text-right">
            <h1 class="wow fadeInRight">TorneAgil</h1>
            <p class="wow fadeInRight">Aplicativo para controle de Processo de Usinagem e Torneamento.</p>
            <!--a href="#why" class="btn btn-lg btn-primary wow fadeInUp">Download</a>
            <a href="#features" class="btn btn-lg btn-border wow fadeInUp">Learn More</a-->
          </div>  
        </div>  
      </header>
      <section id="features" class="section">
        <div class="container">
          <div class="section-header">
            <h1 class="section-title wow fadeInRight">Características</h1>
            <!--h2 class="section-subtitle wow fadeInRight">Who seeks after it and wants to have it</h2-->
          </div>
          <div class="row">

            <div class="col-md-4 col-sm-6 wow fadeInDown">
              <div class="features">
                <div class="icon">
                  <!--md-icon class="material-icons">photo</md-icon-->
                </div>
                <div class="features-text">
                  <h4>Cadastro de Desenho</h4>
                  <p>
                    Com o Cadastro de Desenho terá todos os seus arquivos e fotos de cada Desenho organizados em apenas uma lista, com pesquisas e organizações que facilitaram em rápidas buscas.
                  </p>
                </div>
               </div>
            </div>


            <div class="col-md-4 col-sm-6 wow fadeInDown">
              <div class="features">
                <div class="icon">
                  <i class="mdi-action-done-all"></i>
                </div>
                <div class="features-text">
                  <h4>Acessórios, Comandos e Ferramentas</h4>
                  <p>
                    Cadastros de Acessórios, Comandos e Ferramentas em lugares que ficam muito bem organizados e de facil acesso para a geração de Folha de Processos. 
                  </p>
                </div>
              </div>
            </div>

            <div class="col-md-4 col-sm-6 wow fadeInDown">
              <div class="features">
                <div class="icon">
                  <i class="mdi-image-blur-linear"></i>
                </div>
                <div class="features-text">
                  <h4>Folha de Processo</h4>
                  <p>
                    Geração de Folha de Processo, onde você pode saber facilmente o que será usada no processo de Usinagem ou Torneamento, apenas um Documento com o Desenho, Acessórios, Comando e Ferramentas utilizados e o Programador que operou. 
                  </p>
                </div>
              </div>
            </div>            


            <div class="col-md-4 col-sm-6 wow fadeInDown">
              <div class="features">
                <div class="icon">
                  <i class="mdi-communication-business"></i>
                </div>
                <div class="features-text">
                  <h4>Facilidades</h4>
                  <p>
                    Depois de organizados os seus dados, muito mais fácil e rápido de achar tudo o que precisa para o Processo de Usinagem.
                  </p>
                </div>
              </div>
            </div>


            <div class="col-md-4 col-sm-6 wow fadeInDown">
              <div class="features">
                <div class="icon">
                  <i class="mdi-action-favorite"></i>
                </div>
                <div class="features-text">
                  <h4>Feito com planejamento</h4>
                  <p>
                    Uma aplicação feita com planejamento para ajudar você a organizar a sua Empresa e ter mais agilidade na sua Produção.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-md-4 col-sm-6 wow fadeInDown">
              <div class="features">
                <div class="icon">
                  <i class="mdi-hardware-phonelink"></i>
                </div>
                <div class="features-text">
                  <h4>Layout Responsivo</h4>
                  <p>
                    A facilidade de usar um layout responsivo, onde você pode acessar facilmente no seu Computador, Tablet ou Celular todos os dados de sua Empresa.
                  </p>
                </div>
              </div>
            </div>   
          </div>
        </div>
      </section>

      
      <!--section id="counter" class="section">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInLeft">
              <div class="counter-item">
                <div class="icon">
                  <i class="mdi-action-get-app"></i>
                </div>
                <h3 class="timer">39000</h3>
                <hr>
                <h5>
                  Free Downloads
                </h5>          
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInLeft">
              <div class="counter-item">
                <div class="icon">
                  <i class="mdi-action-face-unlock"></i>
                </div>
                <h3 class="timer">1046</h3>
                <hr>
                <h5>
                  Premium Users
                </h5>          
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInRight">
              <div class="counter-item">
                <div class="icon">
                  <i class="mdi-action-grade"></i>
                </div>
                <h3 class="timer">6345</h3>
                <hr>
                <h5>
                  Five Start Reviews
                </h5>          
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInRight">
              <div class="counter-item">
                <div class="icon">
                  <i class="mdi-action-trending-up"></i>
                </div>
                <h3 class="timer">18325</h3>
                <hr>
                <h5>
                  Active Installs
                </h5>          
              </div>
            </div>
          </div>
        </div>
      </section-->
      <section id="clients" class="section">
        <div class="container">
          
          <div class="section-header text-center">
            <h1 class="section-title wow fadeInDown">Destaques em</h1>
            <h2 class="section-subtitle wow fadeInDown">Empresa listadas fictícias</h2>
          </div>
          <div class="row">
            <div class="col-md-3 col-sm-3 wow fadeInUp">
              <div class="client-item-wrapper">
                <img src="/assets/clients/img1.png" alt="">
              </div>
            </div>
            <div class="col-md-3 col-sm-3 wow fadeInUp" >
              <div class="client-item-wrapper">
                <img src="/assets/clients/img2.png" alt="">
              </div>
            </div>
            <div class="col-md-3 col-sm-3 wow fadeInUp">
              <div class="client-item-wrapper">
                <img src="/assets/clients/img3.png" alt="">
              </div>
            </div>
            <div class="col-md-3 col-sm-3 wow fadeInUp">
              <div class="client-item-wrapper">
                <img src="/assets/clients/img4.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="contact">
        <div class="container">
          <div class="row">
            <div class="col-md-6 wow fadeInLeft">
              <h2 class="section-title">Isso é onde estamos</h2>
              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <div class="info">
                    <div class="icon">
                      <i class="mdi-maps-map"></i>
                    </div>
                    <h4>Localização</h4>
                    <p>Toledo, Paraná</p>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="info">
                    <div class="icon">
                      <i class="mdi-content-mail"></i>
                    </div>
                    <h4>Email</h4>
                    <p>contato@torneagil.com.br</p>
                  </div>
                </div>
                <div class="clear"></div>
                <div class="col-md-6 col-sm-6">
                  <div class="info">
                    <div class="icon">
                      <i class="mdi-action-settings-phone"></i>
                    </div>
                    <h4>Telefone</h4>
                    <p>0753 016 572</p>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="info">
                    <div class="icon">
                      <i class="mdi-action-thumb-up"></i>
                    </div>
                    <h4>Mídia Social</h4>
                    <p>@TorneAgil</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 wow fadeInRight">
              <h2 class="section-title">Gostamos de ouvir de Você</h2>

              


            </div>
          </div>
        </div>
      </section>   
      
      <section id="footer">
        <div class="container">
          <div class="container">
            <div class="row">
              <div class="col-md-3 col-sm-6 col-xs-12">
                <h3>Produtos</h3>
                <ul>
                  <li><a href="#">Produto 1</a>
                  </li>
                  <li><a href="#">Produto 2</a>
                  </li>
                  <li><a href="#">Produto 3</a>
                  </li>
                  <li><a href="#">Produto 4</a>
                  </li>
                  <li><a href="#">Produto 5</a>
                  </li>               
                </ul>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <h3>Perguntas</h3>
                <ul>
                  <li><a href="#">Porque escolher-nos?</a>
                  </li>
                  <li><a href="#">Onde estamos?</a>
                  </li>
                  <li><a href="#">Garantia</a>
                  </li>
                  <li><a href="#">Desconto</a>
                  </li>
                </ul>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <h3>Sobre</h3>
                <ul>
                  <li><a href="#">Carreira</a>
                  </li>
                  <li><a href="#">Parceiros</a>
                  </li>
                  <li><a href="#">Time</a>
                  </li>
                  <li><a href="#">Clientes</a>
                  </li>
                  <li><a href="#">Contato</a>
                  </li>
                </ul>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <h3>Ache-nos</h3>
                <a class="social" href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                <a class="social" href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                <a class="social" href="#" target="_blank"><i class="fa fa-google-plus"></i></a>
              </div>
            </div>
          </div>  
        </div>    
        <a href="#home" class="btn btn-primary back-to-top">
        <i class=" mdi-hardware-keyboard-arrow-up"></i>
        </a>
      </section> 

      <section id="copyright">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <p class="copyright-text">
               © TorneAgil 2016 All right reserved. Designed and Developed by 
                <a href="">
                  Marlon
                </a>
              </p>
            </div>
          </div>
        </div>
      </section>
</md-content>