<md-content layout="column" flex >
    <md-toolbar layout="row" md-scroll-shrink>

      <div class="md-toolbar-tools">
        <md-button ng-click="toggleSidenav('left')" hide-gt-sm class="md-icon-button">
          <md-icon aria-label="Menu" class="md-toggle-icon fa fa-bars"></md-icon>
        </md-button>
        <h3>
          <span>Cadastros - Fabricante</span>
        </h3>
      </div>
    </md-toolbar>


    <md-content class="md-padding" layout="column" flex >
      <md-data-table-toolbar>
        <h2 class="md-title">Fabricantes</h2>
      </md-data-table-toolbar>
      <div layout-gt-xs="row">
        <md-button class="md-primary md-raised" ng-click="novo($event)" style="width: 150px;">
          Novo Fabricante
        </md-button>
        <md-button class="md-warn md-raised" ng-show="selected.length > 0" ng-click="remover()" style="width: 150px;">
          Excluir
        </md-button>
      </div>
      <md-table-container>
        <table md-table md-row-select multiple ng-model="selected" md-progress="promise">
           
          <thead md-head md-order="query.order">
            <tr md-row>
              <th md-column md-numeric md-order-by="id"><span>Id</span></th>
              <th md-column><span>Descrição</span></th>
              <th md-column><span>Ações</span></th>
            </tr>
          </thead>

          <tbody md-body>
            <tr md-row md-select="fabricante" ng-repeat="fabricante in fabricantes">
              <td md-cell>{{ fabricante.id }}</td>
              <td md-cell>{{ fabricante.descricao }}</td>
              <td md-cell>
                <md-button class="md-fab md-mini md-primary" ng-click="editar(fabricante.id, $event)" aria-label="Editar">
                  <i class="fa fa-pencil-square-o"></i>
                  <md-tooltip md-visible="demo.showTooltip" md-direction="right">
                    Editar
                  </md-tooltip>
                </md-button>
              </td>
            </tr>
          </tbody>
        </table>
      </md-table-container>

      <md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{fabricantes.length}}" md-page-select="true"></md-table-pagination>

    </md-content>
</md-content >