<div layout="row" ng-controller="NavCtrl as vm">
<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" ng-show="signedIn() && $root.ngShow">
  <!--md-content role="navigation"-->


  <md-toolbar class="theme-blue">
    <div layout-gt-xs="row" class="userimage">
      <!-- /assets/user.png -->
      <img ng-src="{{ user.image.url ? user.image.url : '/assets/user.png' }}" class="md-card-image circle"  alt="User">
    </div>
    <div style="margin-left: auto; margin-right: auto;">
      <md-menu md-position-mode="target-right target" >
        
        
        <md-button aria-label="Abrir Menu Usuário" ng-click="$mdOpenMenu($event)">
          <span class="email">{{ user.email }}</span>
          <i class="fa fa-chevron-down"></i>
        </md-button>
        <md-menu-content width="3" >
          <md-menu-item>
            <md-button ng-click="home()">
                <div layout="row" flex>
                  <md-icon class="material-icons" aria-label="Home">person</md-icon>
                  <p flex>{{ user.username }}</p>
                </div>
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="updateUser()">
                <div layout="row" flex>
                  <md-icon class="material-icons" aria-label="Change">person_add</md-icon>
                  <p flex>Alterar Usuário</p>
                </div>
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="logout()">
                <div layout="row" flex>
                  <md-icon class="material-icons" aria-label="Sair">exit_to_app</md-icon>
                  <p flex>Sair</p>
                </div>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>




    <ul class="side-menu">
      <li ng-repeat="section in vm.menu.sections" class="parent-list-item md-theme-indigo"
          ng-class="{'parentActive' : vm.isSectionSelected(section)}">

        <h2 class="menu-heading" ng-if="section.type === 'heading'"
            id="heading_{{ section.name | nospace }}">
          {{section}}
        </h2>
        <menu-link section="section" ng-if="section.type === 'link'"></menu-link>
        <menu-toggle section="section" ng-if="section.type === 'toggle'"></menu-toggle>
      </li>
    </ul>
  </md-toolbar>
  <!--/md-content-->
</md-sidenav>
</div>