<md-content layout="column" flex >
    <md-toolbar layout="row" md-scroll-shrink>

      <div class="md-toolbar-tools">
        <md-button ng-click="toggleSidenav('left')" hide-gt-sm class="md-icon-button">
          <md-icon aria-label="Menu" class="md-toggle-icon fa fa-bars"></md-icon>
        </md-button>
        <h3>
          <span>Cadastros - Folha de Processo</span>
        </h3>
      </div>
    </md-toolbar>


    <md-content class="md-padding" layout="column" flex >
      <md-data-table-toolbar>
        <h2 class="md-title">Folha de Processos</h2>
      </md-data-table-toolbar>
      <div layout-gt-xs="row">
        <md-button class="md-primary md-raised" ng-click="newFolhaprocesso()" style="width: 220px;">
          Nova Folha de Processo
        </md-button>
        <md-button class="md-warn md-raised" ng-show="selected.length > 0" ng-click="remover()" style="width: 150px;">
          Excluir
        </md-button>
        <md-button class="md-primary md-raised" ng-show="selected.length > 0" ng-click="imprimir()" style="width: 150px;">
          Imprimir
        </md-button>
      </div>





      

      <md-data-table-container>
        <table md-data-table md-row-select="selected" md-data-table md-progress="promise">
           <!--thead md-order="query.order" md-trigger="onOrderChange">
           <thead >
            <tr>
              <th name="Dessert" unit="100g serving" order-by="name"></th>
              <th numeric name="Calories" order-by="calories.value"></th>
              <th numeric name="Fat" unit="g" order-by="fat.value"></th>
              <th numeric name="Carbs" unit="g" order-by="carbs.value"></th>
              <th numeric name="Protein" unit="g" order-by="protein.value"></th>
              <th numeric name="Sodium" unit="mg" order-by="sodium.value"></th>
              <th numeric name="Calcium" unit="%" order-by="calcium.value"></th>
              <th numeric name="Iron" unit="%" order-by="iron.value"></th>
            </tr>
          </thead-->
          <thead md-order="query.order">
            <tr>
              <th name="Id" ></th>
              <th name="Nome Peça" ></th>
              <th name="Data" ></th>
              <th name="Ações" ></th>
            </tr>
          </thead>

          <tbody>
            <tr ng-repeat="folhaprocesso in folhaprocessos">
              <td>{{ folhaprocesso.id }}</td>
              <td>{{ folhaprocesso.nomepeca }}</td>
              <td>{{ folhaprocesso.dtProjeto }}</td>
              <td>
                <md-button class="md-fab md-mini md-primary" ng-click="showFolhaprocesso(folhaprocesso.id)" aria-label="Mostrar">
                  <i class="fa fa-folder-open"></i>
                  <md-tooltip md-visible="demo.showTooltip" md-direction="left">
                    Mostrar
                  </md-tooltip>
                </md-button>
                <md-button class="md-fab md-mini md-primary" ng-click="editar(folhaprocesso.id)" aria-label="Editar">
                  <i class="fa fa-pencil-square-o"></i>
                  <md-tooltip md-visible="demo.showTooltip" md-direction="right">
                    Editar
                  </md-tooltip>
                </md-button>
              </td>
            </tr>
          </tbody>
        </table>
      </md-data-table-container>
      <md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{folhaprocessos.count}}" md-on-paginate="onPaginate" md-page-select></md-table-pagination>
    </md-content>
</md-content >