<md-content layout="column" flex>
  <md-toolbar layout="row" md-scroll-shrink>
    <div class="md-toolbar-tools">
      <md-button ng-click="toggleSidenav('left')" hide-gt-sm class="md-icon-button">
        <md-icon aria-label="Menu" class="md-toggle-icon fa fa-bars"></md-icon>
      </md-button>
      <h3>
        <span>Cadastros - Folha de Processo</span>
      </h3>
    </div>
  </md-toolbar>

  <md-content class="md-padding" layout="column" flex >
    <h2 class="md-title">Nova Folha de Processo</h2>
    <form name="modeloForm" ng-submit="salvar()">
      <div layout-gt-xs="row">
        
        <md-input-container class="md-block" flex-gt-sm>
          <label>Nome da peça</label>
          <input name="nomepeca" ng-model="folhaprocesso.nomepeca"
                 required minlength="4" maxlength="100"/>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Operação</label>
          <md-select ng-model="folhaprocesso.operacao">
            <md-option ng-repeat="ope in operacaos" value="{{ope.id}}">
              {{ope.descricao}}
            </md-option>
          </md-select>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Programador</label>
          <md-select ng-model="folhaprocesso.programador">
            <md-option ng-repeat="prog in programadors" value="{{prog.id}}">
              {{prog.nome}}
            </md-option>
          </md-select>
        </md-input-container>
        <md-datepicker ng-model="folhaprocesso.dtProjeto" md-placeholder="Data do projeto/verificação">
        </md-datepicker>
      </div>
      <div layout-gt-xs="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Numero do desenho</label>
          <input name="codigoDesenho" ng-model="folhaprocesso.desenho.codigo" ng-change="updateDesenho()"
                  ng-pattern="/^[0-9]{3}.[0-9]{3}.[0-9]{3}$/" required/>
          <div class="hint">###.###.###</div>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Título do Desenho</label>
          <input name="descricaoDesenho" ng-model="folhaprocesso.desenho.titulo"
                 ng-disabled="true"/>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Maquina</label>
          <input name="descricaoDesenho" ng-model="folhaprocesso.desenho.modelo.descricao"
                 ng-disabled="true"/>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
          <label>Grupo de Maquina</label>
          <input name="descricaoDesenho" ng-model="folhaprocesso.desenho.grupomodelo.descricao"
                 ng-disabled="true"/>
        </md-input-container>
        
      </div>
      <md-divider></md-divider>
      <h2 class="md-title">Adicionar Ferramentas</h2>
      <div layout-gt-xs="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Posição</label>
          <md-select ng-model="ferramentafolha.posicao">
            <md-option ng-repeat="pos in posicaos" value="{{pos.id}}">
              {{pos.descricao}}
            </md-option>
          </md-select>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
          <label>Ferramenta</label>
          <md-select ng-model="ferramentafolha.suporte" ng-change="updateSuporte()">
            <md-option ng-repeat="sup in suportes" value="{{sup.id}}">
              {{sup.descricao}}
            </md-option>
          </md-select>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
          <label>Inserto</label>
          <md-select ng-model="ferramentafolha.inserto" ng-change="updateInserto()">
            <md-option ng-repeat="ins in insertos" value="{{ins.id}}">
              {{ins.descricao}}
            </md-option>
          </md-select>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
          <label>Fabricante</label>
          <md-select ng-model="ferramentafolha.fabricante">
            <md-option ng-repeat="fab in fabricantes" value="{{fab.id}}">
              {{fab.descricao}}
            </md-option>
          </md-select>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Altura</label>
          <input name="altura" ng-model="ferramentafolha.altura"
                 required />
        </md-input-container>
      </div>
      <div role="alert" class="error" ng-show="errorFerramenta">
        {{errorFerramenta}}
      </div>
      <div layout-gt-xs="row">
        <md-button class="md-raised md-primary" ng-click="adicionarFerramenta()">
         Adicionar Ferramenta
        </md-button>
        
        <md-button class="md-raised md-warn" ng-show="selected.length > 0" ng-click="removerFerramenta()">
         Remover Ferramenta
        </md-button>
      </div>
      <md-data-table-container>
        <table md-data-table md-row-select="selected" md-data-table md-progress="deferred">
          <thead >
            <tr>
              <th name="Posição" ></th>
              <th name="Suporte" ></th>
              <th name="Inserto" ></th>
              <th name="Fabricante" ></th>
              <th name="Altura" ></th>
            </tr>
          </thead>

          <tbody>
            <tr ng-repeat="ferramenta in ferramentas">
              <td>{{ ferramenta.posicao }}</td>
              <td>{{ ferramenta.suporte.descricao }}</td>
              <td>{{ ferramenta.inserto.descricao }}</td>
              <td>{{ ferramenta.fabricante.descricao }}</td>
              <td>{{ ferramenta.altura }}</td>
            </tr>
          </tbody>
        </table>
      </md-data-table>

      <div layout-gt-xs="row">
        <md-button class="md-raised md-warn" ng-click="cancel()">
         Cancelar
        </md-button>
        <md-button class="md-raised md-primary" type="submit" style="margin-right:20px;">
          Salvar
        </md-button>
      </div>
    </form>
  </md-content>
</md-content>