<style type="text/css">
	@media print{@page {size: landscape}}


	html, body {
    /*changing width to 100% causes huge overflow and wrap*/
    height:100%; 
    overflow: hidden;
    background: #FFF; 
    font-size: 8pt;
  }

	table {
    border-collapse: collapse;
    width: 900px;
	}

	table, th, td, tbody {
	  border: 1px solid black;
	}

	p {
		margin: 0;
	}

	.tdTitulo {
		background-color: rgb(217, 217, 217);
		height: 20px;
		font-weight: bold;
	}

	.ferramental {
		margin-top: 15px; 
	}

	.linha {
		height: 20px;
	}

	.dados {
		text-align:right;
	}


</style>

<div style="margin-left: auto; margin-right: auto;">
	<h2 style="text-align:center">Folha de Processo</h2>
	<table>
		<tbody>
			<tr>
				<td rowspan=4 style="width: 100px; text-align:center;"> <img src="{{empresa.logo.url}}" style="width: 100px; height: 75px;"> </td>
				<td class="tdTitulo" style="width: 150px;"> Código folha de processo </td>
				<td class="dados"> {{ folhaprocesso.id }} </td>
				<td class="tdTitulo"> Código desenho </td>
				<td class="dados"> {{ folhaprocesso.desenho.codigo }} </td>
				<td class="tdTitulo" style="text-align:center"> Comandos programados </td>
			</tr>
			<tr>
				<td class="tdTitulo"> Operação </td>
				<td class="dados"> {{ folhaprocesso.operacao.descricao }} </td>
				<td class="tdTitulo"> Título do desenho </td>
				<td class="dados"> {{ folhaprocesso.desenho.titulo }} </td>
				<td rowspan=3 style="vertical-align: top;">
					<p ng-repeat="comando in folhaprocesso.comandofolhas">
						{{comando.comando.descricao}}
					</p>
			  </td>
			</tr>
			<tr>
				<td class="tdTitulo"> Tempo estimado </td>
				<td class="dados"> {{ folhaprocesso.tempo }} </td>
				<td class="tdTitulo"> Grupo </td>
				<td class="dados"> {{ folhaprocesso.desenho.grupomodelo.descricao }} </td>
			</tr>
			<tr>
				<td class="tdTitulo"> Programador </td>
				<td class="dados"> {{ folhaprocesso.programador.nome }} </td>
				<td class="tdTitulo"> Máquina </td>
				<td class="dados"> {{ folhaprocesso.desenho.modelo.descricao }} </td>
			</tr>

			
		</tbody>
	</table>

	<table>
		<tbody>
			<tr>
				<td rowspan=2 style="width: 220px;"> <img src="{{folhaprocesso.desenho.picture.url}}" style="width: 220px; height: 220px;"> </td>
				<td class="tdTitulo"> Descrição do Material</td>
				<td class="tdTitulo"> Instrumento de Medição, fixação e outros </td>
			</tr>
			<tr>
				<td style="vertical-align: top;"> 
					{{folhaprocesso.nomepeca}}
				</td>
				<td style="vertical-align: top;"> 
					<p ng-repeat="acessorio in folhaprocesso.acessoriofolhas">
						{{acessorio.acessorio.descricao}} 
				  </p> 
			  </td>
			</tr>
		</tbody>	
	</table>

	<table class="ferramental">
		<tbody>
			<tr>
				<td style="text-align: center;" class="tdTitulo" colspan=8 > FERRAMENTAL </td>
			</tr>
			<tr>
				<td class="tdTitulo" style="width: 80px;"> Posição da Ferramenta</td>
				<td class="tdTitulo" style="width: 120px;"> Descrição da Ferramenta </td>
				<td class="tdTitulo"> Descrição do Inserto </td>
				<td class="tdTitulo" style="width: 60px;"> Altura </td>
				<td class="tdTitulo" style="width: 80px;"> Posição da Ferramenta</td>
				<td class="tdTitulo" style="width: 120px;"> Descrição da Ferramenta </td>
				<td class="tdTitulo"> Descrição do Inserto </td>
				<td class="tdTitulo" style="width: 60px;"> Altura </td>

			</tr>
			<tr ng-repeat="n in [0,1,2,3,4,5,6,7,8,9]">
				<td class="linha"> {{ folhaprocesso.ferramentafolhas[n].posicao }}</td>
				<td class="linha"> {{ folhaprocesso.ferramentafolhas[n].suporte.descricao }} </td>
				<td class="linha"> {{ folhaprocesso.ferramentafolhas[n].inserto.descricao }} </td>
				<td class="linha"> {{ folhaprocesso.ferramentafolhas[n].altura }} </td>
				<td class="linha"> {{ folhaprocesso.ferramentafolhas[n+10].posicao }}</td>
				<td class="linha"> {{ folhaprocesso.ferramentafolhas[n+10].suporte.descricao }} </td>
				<td class="linha"> {{ folhaprocesso.ferramentafolhas[n+10].inserto.descricao }} </td>
				<td class="linha"> {{ folhaprocesso.ferramentafolhas[n+10].altura }} </td>
			</tr>
		</tbody>	
	</table>
</div>
