<md-content layout="column" flex>
  <md-toolbar layout="row" md-scroll-shrink>
    <div class="md-toolbar-tools theme-blue-toolbar">
      <md-button ng-click="toggleSidenav('left')" hide-gt-sm class="md-icon-button">
        <md-icon class="material-icons">menu</md-icon>
      </md-button>
      <h3>
        <span>Movimentos - Folhaprocessos</span>
      </h3>
    </div>
  </md-toolbar>

  <md-content class="md-padding" layout="column" flex >
    <md-card>
      <md-toolbar class="md-table-toolbar md-default" ng-show="!filter.show && !selected.length">
        <div class="md-toolbar-tools">
          <span>Folha de Processos - {{ folhaprocesso.desenho.codigo }}</span>
          <div flex="" class="flex"></div>

          <md-button class="md-fab md-mini md-primary" ng-click="imprimir(folhaprocesso.id)" aria-label="print">
            <md-icon class="material-icons">print</md-icon>
            <div class="md-ripple-container"></div>
            <md-tooltip md-visible="demo.showTooltip" md-direction="top">
              Imprimir
            </md-tooltip>
          </md-button>
          <md-button class="md-fab md-mini md-primary" ng-click="editar(folhaprocesso.id)" aria-label="edit">
            <md-icon class="material-icons">mode_edit</md-icon>
            <div class="md-ripple-container"></div>
            <md-tooltip md-visible="demo.showTooltip" md-direction="top">
              Editar
            </md-tooltip>
          </button>
        </div>
      </md-toolbar>

      <div layout-gt-xs="row">
        <h2 class="md-title descricao"><strong> Operação: </strong>{{ folhaprocesso.operacao.descricao }} </h2>
        <h2 class="md-title descricao"><strong>Data Projeto:</strong> {{ folhaprocesso.dtProjeto }}</h2>
      </div>
      <div layout-gt-xs="row">
        <h2 class="md-title descricao"><strong> Programador: </strong>{{ folhaprocesso.programador.nome }} </h2>
        <h2 class="md-title descricao"><strong> Tempo Estimado:</strong> {{ folhaprocesso.tempo }}</h2>
      </div>
      
      <div layout-gt-xs="row">
        <h4 class="descricao"><strong> Desenho: </strong> {{ folhaprocesso.desenho.codigo }}</h4>
        <h4 class="descricao"><strong> Título: </strong> {{ folhaprocesso.desenho.titulo }}</h4>
        <h4 class="descricao"><strong> Maquina: </strong> {{ folhaprocesso.desenho.modelo.descricao }}</h4>
        <h4 class="descricao"><strong> Grupo: </strong> {{ folhaprocesso.desenho.grupomodelo.descricao }}</h4>
      </div>
      <div layout-gt-xs="row">
        <h2 class="md-title">Acessórios</h2>
      </div>  
      <div layout-gt-xs="row">
        <md-chips ng-repeat="ace in folhaprocesso.acessoriofolhas">
          <md-chip>
            {{ace.acessorio.descricao}}
          </md-chip>
        </md-chips>
      </div>  

      <div layout-gt-xs="row">
        <h2 class="md-title">Comandos</h2>
      </div>
      <div layout-gt-xs="row">
        <md-chips ng-repeat="com in folhaprocesso.comandofolhas">
          <md-chip>
            {{com.comando.descricao}}
          </md-chip>
        </md-chips>
      </div>

      <div layout-gt-xs="row">
        <h2 class="md-title">Descrição do Material</h2>
      </div>
      <div layout-gt-xs="row">
        <h4 style="text-transform: uppercase;"> {{ folhaprocesso.nomepeca }}</h4>
      </div>

      <div layout-gt-xs="row">
        <h2 class="md-title">Ferramentas</h2>
      </div>
      <md-table-container>
        <table md-table md-progress="deferred">
           
          <thead md-head>
            <tr md-row>
              <th md-row ><span>Posição</span></th>
              <th md-row ><span>Suporte</span></th>
              <th md-row ><span>Inserto</span></th>
              <th md-row ><span>Fabricante</span></th>
              <th md-row ><span>Altura</span></th>
            </tr>
          </thead>

          <tbody md-body>
            <tr md-row ng-repeat="ferramentafolha in folhaprocesso.ferramentafolhas | limitTo: query.limit : (query.page -1) * query.limit">
              <td md-cell>{{ ferramentafolha.posicao }}</td>
              <td md-cell>{{ ferramentafolha.suporte.descricao }}</td>
              <td md-cell>{{ ferramentafolha.inserto.descricao }}</td>
              <td md-cell>{{ ferramentafolha.fabricante.descricao }}</td>
              <td md-cell>{{ ferramentafolha.altura }}</td>
            </tr>
          </tbody>
        </table>
      </md-table-container>

      <md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{folhaprocesso.ferramentafolhas.length}}" md-page-select="true"></md-table-pagination>

      <div layout-gt-xs="row">
        <md-button class="md-raised md-warn" ng-click="voltar()">
         Voltar
        </md-button>
      </div>
    <md-card>
  </md-content>
</md-content>