/* Styles go here */

body {
}

.descricao {
  margin: 0px;
  padding: 15px;
}

.fill-height{
  display: flex;
  flex: 1;
  min-height: 100%;
}

.fill-height > div{
  min-height: 100%;
  min-width: 100%;
  display: flex;
}

.formControl {
  margin: 10px;
}
.error {
  color: red;
}

.email {
  font-size: 16px;
}


.userimage {
  margin: auto;
  margin-top: 20px;
}

.loginCard {
  margin: auto;
}

.menuLogout {
  list-style-type: none;
}

.menuDiv {
  margin-top: 40px;
  position: absolute;
}

.menuLogout li {
  display: block;
  padding: 5px;
  float: left;
}

.menuLogout li a {
  text-decoration: none;
  font-size: 14px;
  color: white;
}
.hint {
  /* Position the hint */
  position: absolute;
  left: 2px;
  right: auto;
  bottom: 7px;
  /* Copy styles from ng-messages */
  font-size: 12px;
  line-height: 14px;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  /* Set our own color */
  color: grey; 
}

.md-sidenav-left {
  background-color: #3F51B5;
}

.md-button-toggle {
  background-color: #3F51B5; 
}

.md-icon-button > .md-toggle-icon {
  background-size: 100% auto;
  display: inline-block;
  margin: auto 0 auto auto;
  width: 18px;
  height: 18px;
}

.side-menu, .side-menu ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
}


.md-toolbar-tools h1 {
  font-size: inherit;
  font-weight: inherit;
  margin: inherit;
}


.side-menu .menu-toggle-list a.md-button {
  display: block;
  padding: 0 16px 0 32px;
  text-transform: none;
  text-rendering: optimizeLegibility;
  font-weight: 500;
}

.side-menu .menu-toggle-list .md-button {
  display: block;
  padding: 0 16px 0 32px;
  text-transform: none;
}

.side-menu > li {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.gridListdemoBasicUsage .blue {
  background: #84ffff; 
}

.md-button-toggle .md-toggle-icon.toggled {
  transform: rotateZ(180deg);
  -webkit-transform: rotateZ(180deg);
}

.side-menu .md-button-toggle .md-toggle-icon {
  background-size: 100% auto;
  display: inline-block;
  margin: auto 0 auto auto;
  width: 15px;
  color: darkgray;
  transition: transform .3s ease-in-out;
  -webkit-transition: -webkit-transform .3s ease-in-out;
}


.menu-toggle-list.ng-hide {
  max-height: 0;
}

.side-menu .md-button {
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  font-weight: 400;
  line-height: 40px;
  margin: 0;
  max-height: 40px;
  overflow: hidden;
  padding: 0px 16px;
  text-align: left;
  text-decoration: none;
  white-space: normal;
  width: 100%;
}

.menu-toggle-list {
  background: #fff;
  max-height: 1300px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  -webkit-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  -webkit-transition-property: max-height;
  -moz-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  -moz-transition-property: max-height;
  transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  transition-property: max-height;
}


.side-menu menu-toggle span{
  padding-top: 12px;
  padding-bottom: 12px;
}

md-content.autocomplete {
  min-height: 200px; }
.blocoChips .veggie-option {
  float: left;
  width: 20%;
  box-sizing: border-box;
  padding: 0 8px; }
.blocoChips .veggie-option .md-item-text {
  padding: 8px;
  background: #f0f0f0;
  border-radius: 3px; }
.blocoChips .veggie-option .md-item-text h3,
.blocoChips .veggie-option .md-item-text p {
  padding: 0;
  margin: 0; }