<md-dialog aria-label="Operação"  ng-cloak>
  <form name="operacaoForm" ng-submit="salvar()">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Nova Operação</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-font-icon="fa fa-times" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
    	<div class="md-dialog-content">
	      <md-input-container class="md-block" flex-gt-sm>
		      <label>Descrição da Operação</label>
		      <input name="descricao" ng-model="operacao.descricao"
		             required minlength="6" maxlength="100"/>
		    </md-input-container>
		  </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="md-raised md-warn" ng-click="cancel()">
       Cancelar
      </md-button>
      <md-button class="md-raised md-primary" type="submit" style="margin-right:20px;">
        Salvar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>