<md-content layout="column" flex >
    <md-toolbar layout="row" md-scroll-shrink>

      <div class="md-toolbar-tools theme-blue-toolbar">
        <md-button ng-click="toggleSidenav('left')" hide-gt-sm class="md-icon-button">
          <md-icon class="material-icons">menu</md-icon>
        </md-button>
        <h3>
          <span>Usuários</span>
        </h3>
      </div>
    </md-toolbar>


    <md-content layout="column" flex >
      <md-card>
        <md-toolbar class="md-table-toolbar md-default" ng-show="!filter.show && !selected.length">
          <div class="md-toolbar-tools">
            <span>Usuários</span>
            <div flex="" class="flex"></div>
            <button class="md-icon-button md-button md-ink-ripple" type="button" ng-transclude="" ng-click="filter.show = true" aria-label="filter_list">
              <md-icon class="material-icons">filter_list</md-icon>
            <div class="md-ripple-container"></div></button>
          </div>
          
        </md-toolbar>
        <md-toolbar class="md-table-toolbar md-default ng-hide" ng-show="filter.show && !selected.length" aria-hidden="true">
          <div class="md-toolbar-tools">
            <md-icon class="material-icons">search</md-icon>
            <form flex="" name="filter.form" class="ng-pristine ng-valid flex">
              <md-input-container class="buscar" md-no-float>
                <input type="text" ng-model="filter.search" placeholder="Buscar">
              </md-input-container>
            </form>
            <button class="md-icon-button md-button md-ink-ripple" type="button" ng-transclude="" ng-click="removeFilter()" aria-label="close">
              <md-icon class="material-icons">close</md-icon>
            </button>
          </div>
        </md-toolbar>
        <md-toolbar class="md-table-toolbar alternate ng-hide" ng-show="selected.length" aria-hidden="true">
          <div class="md-toolbar-tools layout-align-space-between-stretch" layout-align="space-between">
            <div>{{selected.length}} item selected</div>
            <button class="md-icon-button md-button md-ink-ripple" type="button" ng-transclude="" ng-click="delete($event)" aria-label="delete">
              <md-icon class="material-icons">delete</md-icon>
            </button>
          </div>
        </md-toolbar>

        <md-table-container>
          <table md-table md-row-select multiple ng-model="selected" md-progress="promise">
             
            <thead md-head md-order="query.order">
              <tr md-row>
                <th md-column md-order-by="username"><span>Nome</span></th>
                <th md-column md-order-by="email"><span>Email</span></th>
              </tr>
            </thead>

            <tbody md-body>
              <tr md-row md-select="user" ng-repeat="user in users | filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit" ng-click="chamaPerm(user.id)">
                <td md-cell>{{ user.username }}</td>
                <td md-cell>{{ user.email }}</td>
              </tr>
            </tbody>
          </table>
        </md-table-container>


        <md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{users.length}}" md-page-select="true"></md-table-pagination>
      </md-card>
    </md-content>
</md-content >