<!DOCTYPE html>
<html>
<head>
  <title>Folha de Processor Multipet</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body layout="column" ng-app="StarterApp">
	<div class="fill-height">
		<div layout="row" flex>
			<div layout="row" ng-include="'nav/_nav.html'"></div>
	    <div layout="row" flex ui-view></div>
	  </div>
  </div>
</body>
</html>
